.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}

.signup-form {
	width: 470px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}

.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form .btn {        
	font-size: 18px;
	font-weight: bold;		
	min-width: 160px;
	outline: none !important;
	margin-left: 20px;
}

.errorMsg {
	color: hsl(0, 100%, 40%);
	margin-top:4px;
	margin-bottom: 4px;
   }
   
